#header {
  background-color: #fc8a8a;
}

section.gallery{

    margin: 4% 0 2 0;
    width: 100%;
    height: auto;
    padding: 10% 0;
}
section.gallery img{
    background-color: white;
    display: block;
    width: 13%;
    height: auto;
    float: left;
    transform: scale(1.3, 1.3) rotate(35deg);
    opacity: .3;
    transition: transform .4s, opacity .4s;
}
section.gallery img:hover {
    transform: scale(2.6, 2.6) rotate(0deg);
    opacity: 1;
    position: relative;
    z-index: 100;

   }
section.gallery img:hover:first-child {
    transform: scale(2.6, 2.6) rotate(0deg) translate(35%);
}

section.gallery img:hover:last-child {
    transform: scale(2.6, 2.6) rotate(0deg) translate(-35%);
}